@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}
body .is-fixed {
  overflow: hidden; /* 背景スクロール防止 */
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;
}
.button_bg_contact {
  background: white;
}
.button_bg_sns {
  border: 1px solid white;
}
.button_icon {
  width: 24px;
  align-items: center;
}
.button_text {
  color: white;
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 0.08em;
}
.button_icon-path {
  fill: white;
}
.button_icon-contact {
  fill: #4a4a4a;
}
.button-text_sns {
  color: white;
}

.header {
  background: #4a4a4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header_container {
  position: relative;
}
.header_contens {
  height: calc(100vh - 88px);
  border-top: 1px solid #fff;
  padding-top: 65px;
}
.header_contens.is-open {
  transform: translateX(0); /* メニューを画面内に表示 */
}
.header_logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  color: #fff;
}
.header_nav-item + .header_nav-item {
  margin-top: 10px;
}
.header__nav-link {
  color: #fff;
  text-decoration: none;
}
.header_menu-button {
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 36px;
  overflow: hidden;
  color: transparent;
  background: url(../img/bg_menu.png) no-repeat center center;
  background-size: 100% auto;
  cursor: pointer;
}
.header_menu-button.is-checked {
  background: url(../img/bg_menu-close.png) no-repeat center center;
  background-size: 100% auto;
}

.fv {
  position: relative;
}
.fv_contens {
  padding: 32px;
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: 100% auto;
}
.fv_heading-main {
  display: block;
  font-size: 40px;
  letter-spacing: 0.1em;
}
.fv_heading-sub {
  margin-top: 12px;
  display: block;
  font-size: 14px;
}

.section {
  padding: 48px 0;
}
.section_inner {
  padding: 0 32px;
}
.section_head {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.section_head-main {
  font-size: 40px;
  letter-spacing: 0.01em;
}
.section_head-sub {
  font-size: 11px;
}
.section_lead-text {
  font-size: 16px;
  line-height: 1.6;
}
.section_contens {
  margin-top: 40px;
}

.service_items + .service_items {
  margin-top: 40px;
}
.service_item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
.service_item-text {
  font-size: 14px;
  line-height: 1.6;
}
.service_img {
  text-align: center;
  margin-bottom: 14px;
}

.works {
  background: #fafafa;
}
.works_items + .works_items {
  margin-top: 40px;
}
.works_item-img {
  margin-bottom: 12px;
}
.works_item-img img {
  box-shadow: 0 4px 15px 0 #4a4a4a 0.15;
}
.works_item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.works_item-link {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}/*# sourceMappingURL=style.css.map */