body {
  font-family: 'Noto Sans JP', sans-serif;
  
  .is-fixed {
    overflow: hidden; /* 背景スクロール防止 */
  }
}
img{

}
.button{

  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px ;
  width: 160px;
  margin: 0 auto;
  &_bg_contact{
    background: #ffff;

  }
  &_bg_sns{
    border: 1px solid #ffff;


  }
  &_icon{
    width: 24px;
    align-items: center;

  }
  &_text{
    color: #ffff;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0.08em;

  }
  &_icon-path{
    fill: #ffff;
    
  }
  &_icon-contact{
      fill: #4a4a4a;

    }
    &-text_sns{
      color: #ffff;
    }

}
// header
.header {
  background: #4a4a4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &_container {
    position: relative;
  }

  &_contens{
    height: calc(100vh - 88px);
    border-top: 1px solid #fff;
    padding-top: 65px;
    &.is-open{
      transform: translateX(0); /* メニューを画面内に表示 */
    }
  }

  &_logo {
    display: inline-block;
    padding: 14px 24px;
    font-size: 20px;
    color: #fff;
  }

  &_nav-item {
    & + & {
      margin-top: 10px;
    }
  }

  &__nav-link {
    color: #fff;
    text-decoration: none;
  }

  &_menu-button {
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 36px;
    overflow: hidden;
    color: transparent;
      background: url(../img/bg_menu.png) no-repeat center center;
     
   
    background-size: 100% auto;
    cursor: pointer;
    &.is-checked {
      background: url(../img/bg_menu-close.png) no-repeat center center;
     background-size: 100% auto;
    }
  }
}
// fv
.fv{
  position: relative;
  &_img{
    
  }
  &_contens{
    padding: 32px ;
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 209px;
    background: url(../img/sp/bg_fv.png)
    center center no-repeat;
    background-size: 100% auto;

  }
  &_heading{

  }
  &_heading-main{
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;

  }
  &_heading-sub{
    margin-top: 12px;
    display: block;
   font-size: 14px;

  }
}

// 共通
.section{
  
  padding: 48px 0;
  &_inner{
    padding: 0 32px ;
    
  }
  &_head{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

  }
  &_head-main{
    
    font-size: 40px;
    letter-spacing: 0.01em;

  }
  &_head-sub{
  
   font-size: 11px;

  }
  &_lead-text{
    font-size: 16px;
    line-height: 1.6;
  }
  &_contens{
    margin-top: 40px;
  }


}
// service
.service{
  &_items{
    &+&{
    margin-top:40px ;
  }
    
  }
  &_item-name{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;

    
  }
  &_item-text{
    font-size: 14px;
    line-height: 1.6;
    
  }
  &_img{
    text-align: center;
    margin-bottom: 14px;

  }

}
// works
.works{
  background: #fafafa;
  &_list{
    
  }
  &_items{
    
      &+&{
    margin-top:40px ;
  }

  }
  &_item-img{
    margin-bottom: 12px;
    img{
      box-shadow: 0 4px 15px 0 #4a4a4a 0.15 ;
    }

  }
  &_item-name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    
  }
  &_item-link{
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
  margin-bottom: 16px;
   

  }

}
